SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}="6001", MODE="0666"

# sudo cp 80-usb-serial.rules /etc/udev/rules.d/
# sudo udevadm control --reload && sudo udevadm trigger
